<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>About Us</title>
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <p style="text-align: center; font-size: 1.2em; font-weight: bold; font-family: noto sans; margin-top: 4em; margin-bottom: 2em;">Our Story</p>
    <div class="about-lamago-div">
        <div class="about-lamago-info">
            <p>We are a made in Kenya , women clothing brand looking to create sustainable timeless fashion that lasts over the years.</p>
            <p>LAMAGO is originated from the contemporary love of fashion providing exclusive everyday wear for the modern woman. Chic Minimalistic Elegant style being our focal point we strive to achieve just that for an easy well put together look .A world where chic simplicity and enduring style converge.</p>
            <a href="" class="best-seller-link">Read Our Story</a>
        </div>
        <div class="about-lamago-image"></div>
    </div>
    <div style="width: 90%; margin: auto; font-family: neuzeit; margin-top: 3em;">
        <p>Welcome to LAMAGO, where timeless elegance meets minimalist allure. Born from the vision of redefining sophistication, our women's clothing brand embodies the essence of old-money charm/Aura that is well curated to fit your chic elegant sophisticated style that embraces your femininity in grace .</p>
        <p>Each piece is meticulously crafted to exude a sense of refined grace, capturing the allure of a bygone era with a contemporary twist of chic . Inviting you to embrace the luxurious subtlety of LAMAGO .We are a made in Kenya , women Luxury clothing brand looking to create sustainable fashion that lasts over the years .</p>
        <p>LAMAGO is originated from the contemporary love of fashion providing exclusive everyday wear for the modern woman. Chic, Elegance, Minimalistic style being our focal point we strive to achieve just that for an easy laid back fashion style without having to do too much. Each piece is meticulously crafted with great attention to detail, we hope you love our pieces as much as we love creating them for you .Your support is highly appreciated!!</p>
    </div>
    <%- include('templates/footer.ejs') %>
</body>
</html>