<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Login</title>
</head>
<body>
    <div class="login-outer-div">
        <form action="/login" method="post" class="login-form">
            <a href="/" style="display: block; margin: auto;">
                <img src="/images/logos/logo5.avif" alt="logo5" style="height: 3em; margin-bottom: 3em;">
            </a>
            <p style="font-size: 1.5em; font-weight: bold; margin: 0;">Log in</p>
            <p style="color: gray;">Enter your email and we'll send you a login code</p>
            <input type="email" name="email" class="login-email-input">
            <button class="login-button">Continue</button>
            <a href="/privacy" style="margin-top: 1.5em;">privacy</a>
        </form>
    </div>
</body>
</html>