<div class="newsletter-div">
    <div>
        <p style="font-weight: bold; font-size: 1.1em;">Subscribe to or Newsletter</p>
        <p>Signup for our newsletter to stay up to date on sales and events.</p>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: start; width: 30%;">
        <form class="newsletter-form">
            <input type="text" placeholder="Enter Your Email Address" class="newsletter-input">
            <button class="newsletter-button">Join</button>
        </form>
        <img src="/images/logos/instagram-white.webp" alt="instagram" style="height: 1em; width: 1em; margin-left: 1em;">
    </div>
</div>
<div class="footer-div">
    <div class="footer-section-one">
        <div class="footer-section-part">
            <p class="footer-title">OPENING HOURS</p>
            <p>MONDAY TO SATURDAY</p>
            <p>9AM - 7PM</p>
            <p>SUNDAYS</p>
            <p>closed</p>
        </div>
        <div class="footer-section-part">
            <p class="footer-title">VIEW</p>
            <a href="" class="footer-link">HOME</a>
            <a href="" class="footer-link">SHOP</a>
            <a href="" class="footer-link">ABOUT US</a>
            <a href="" class="footer-link">PRE-ORDER</a>
            <a href="" class="footer-link">GIFT CARDS</a>
            <a href="" class="footer-link">CONTACT US</a>
        </div>
        <div class="footer-section-part">
            <p class="footer-title">CONTACT US</p>
            <p>WHATSAPP</p>
            <p>+254757293300</p>
            <p>WORLDWIDE SHIPPING</p>
            <p>DHL EXPRESS</p>
        </div>
        <div class="footer-section-part">
            <p class="footer-title">CONTACT US</p>
            <a href="" class="footer-link2">Shipping and Returns</a>
            <a href="" class="footer-link2">Payment Details</a>
            <a href="" class="footer-link2">FAQS</a>
            <a href="" class="footer-link2">Size Guide</a>
            <a href="" class="footer-link2">Handle and Care</a>
            <a href="" class="footer-link2">Terms & Conditions</a>
        </div>
    </div>
    <img src="/images/logos/logo3.jpg" alt="" style="height: 3em; margin: auto; display: block; margin-top: 2em; margin-bottom: 2em;">
    <div class="footer-section-two">
    </div>
</div>